@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 50px auto;
    max-width: 1140px;
    width: 100%;
    text-align: center;
}

.user-container {
    min-width: 500px;
    display: inline-block;
    margin-top: 25px;
}

.sidebar,
.main {
    display: inline-block;
    vertical-align: top;
    padding: 15px 40px;
    margin: 15px;
    box-shadow: 0px 1px 4px 1px #eee;
    border-radius: 4px;
}

.main {
    min-width: 500px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0px;
}

.sidebar ul button {
    background: #F06292;
    border: none;
    padding: 10px 30px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
    margin: 15px 0px;
    cursor: pointer;
    min-width: 200px;
}

table.user-table {
    width: 100%;
    margin-top: 25px;
    text-align: left;
}

table thead th {
    padding-bottom: 15px;
}

table tbody td {
    padding-bottom: 10px;
}